USE [master]
GO
/****** Object:  Database [ITask]    Script Date: 11/12/2025 13:46:51 ******/
CREATE DATABASE [ITask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ITask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ITask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITask]
GO
/****** Object:  Table [dbo].[Gestor]    Script Date: 11/12/2025 13:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gestor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Departamento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Gestor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidosAlteracao]    Script Date: 11/12/2025 13:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidosAlteracao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[DadosAtuais] [varchar](max) NOT NULL,
	[DadosSolicitados] [varchar](max) NOT NULL,
	[DataPedido] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Justificativa] [varchar](max) NULL,
	[DataProcessamento] [datetime] NULL,
	[ProcessadoPor] [int] NULL,
 CONSTRAINT [PK_PedidosAlteracao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programador]    Script Date: 11/12/2025 13:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NivelExperiencia] [varchar](50) NOT NULL,
	[IdGestor] [int] NOT NULL,
 CONSTRAINT [PK_Programador] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 11/12/2025 13:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdGestor] [int] NOT NULL,
	[IdProgramador] [int] NOT NULL,
	[OrdemExecucao] [int] NOT NULL,
	[Descricao] [varchar](max) NULL,
	[DataPrevistaInicio] [date] NOT NULL,
	[DataPrevistaFim] [date] NOT NULL,
	[IdTipoTarefa] [int] NOT NULL,
	[StoryPoints] [int] NOT NULL,
	[DataRealInicio] [date] NULL,
	[DataRealFim] [date] NULL,
	[DataCriacao] [date] NOT NULL,
	[EstadoAtual] [varchar](50) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[TipoTipoTarefa] [varchar](100) NULL,
	[ProgramadorNome] [varchar](100) NULL,
	[GestorNome] [varchar](100) NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_Tarefa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTarefa]    Script Date: 11/12/2025 13:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTarefa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descricao] [varchar](500) NULL,
	[Cor] [varchar](20) NOT NULL,
	[Icone] [varchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK_TipoTarefa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizador]    Script Date: 11/12/2025 13:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[IdProgramador] [int] NULL,
	[IdGestor] [int] NULL,
	[Email] [varchar](max) NOT NULL,
	[Telefone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Utilizador] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tarefa] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Tarefa] ADD  DEFAULT ('ToDo') FOR [EstadoAtual]
GO
ALTER TABLE [dbo].[Tarefa] ADD  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[TipoTarefa] ADD  DEFAULT ('#4cdb94ac') FOR [Cor]
GO
ALTER TABLE [dbo].[TipoTarefa] ADD  DEFAULT ('fa-tasks') FOR [Icone]
GO
ALTER TABLE [dbo].[TipoTarefa] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[TipoTarefa] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[PedidosAlteracao]  WITH CHECK ADD  CONSTRAINT [FK_PedidosAlteracao_ProcessadoPor] FOREIGN KEY([ProcessadoPor])
REFERENCES [dbo].[Utilizador] ([Id])
GO
ALTER TABLE [dbo].[PedidosAlteracao] CHECK CONSTRAINT [FK_PedidosAlteracao_ProcessadoPor]
GO
ALTER TABLE [dbo].[PedidosAlteracao]  WITH CHECK ADD  CONSTRAINT [FK_PedidosAlteracao_Utilizador] FOREIGN KEY([UserId])
REFERENCES [dbo].[Utilizador] ([Id])
GO
ALTER TABLE [dbo].[PedidosAlteracao] CHECK CONSTRAINT [FK_PedidosAlteracao_Utilizador]
GO
ALTER TABLE [dbo].[Programador]  WITH CHECK ADD  CONSTRAINT [FK_Programador_Gestor] FOREIGN KEY([IdGestor])
REFERENCES [dbo].[Gestor] ([Id])
GO
ALTER TABLE [dbo].[Programador] CHECK CONSTRAINT [FK_Programador_Gestor]
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_Tarefa_Gestor] FOREIGN KEY([IdGestor])
REFERENCES [dbo].[Gestor] ([Id])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_Tarefa_Gestor]
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_Tarefa_Programador] FOREIGN KEY([IdProgramador])
REFERENCES [dbo].[Programador] ([Id])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_Tarefa_Programador]
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_Tarefa_TipoTarefa] FOREIGN KEY([IdTipoTarefa])
REFERENCES [dbo].[TipoTarefa] ([Id])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_Tarefa_TipoTarefa]
GO
ALTER TABLE [dbo].[Utilizador]  WITH CHECK ADD  CONSTRAINT [FK_Utilizador_Gestor] FOREIGN KEY([IdGestor])
REFERENCES [dbo].[Gestor] ([Id])
GO
ALTER TABLE [dbo].[Utilizador] CHECK CONSTRAINT [FK_Utilizador_Gestor]
GO
ALTER TABLE [dbo].[Utilizador]  WITH CHECK ADD  CONSTRAINT [FK_Utilizador_Programador] FOREIGN KEY([IdProgramador])
REFERENCES [dbo].[Programador] ([Id])
GO
ALTER TABLE [dbo].[Utilizador] CHECK CONSTRAINT [FK_Utilizador_Programador]
GO
USE [master]
GO
